{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container contact-container mb-2">
    <div class="row">
        <div class="col-md-6 d-none d-sm-block subscribe-img"></div>
        <div class="col-md-6">
            <form action="{% url 'add_subscribe' %}" method="post">
                <div>
                    <hr>
                    <h2 class="logo-font mb-2 gym-header">Subscribe Here</h2>
                    <hr>
                    <p class="gym-para">Subscribe to our newsletter and never miss our latest news and offer.</p>
                    <p class="gym-para">Our newsletter is sent once a week, every Monday.</p>
                </div>
                <div class="gym-para">
                    {% csrf_token %}
                    {{ form|crispy }}
                </div>
                <button type="submit" class="btn btn-green btn-subscribe logo-font">Submit</button>
            </form>
        </div>
    </div>
    <div class="row bg-col-green my-5">
        <div class="col-12 p-3">
            <p class="gym-para">You must be 18 years old to subscribe with us.</p>
        </div>
    </div>
</div>
{% endblock %}