{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="overlay"></div>
<div class="container contact-container mb-2">
    <div class="row">
        <div class="col-12">
            <form id="user-reg-form" action="{% url 'add_subscribe' %}" method="post">
                {% csrf_token %}
                <div class="bg-col">
                    <hr>
                    <h2 class="logo-font mb-2">Subscribe Here</h2>
                    <hr>
                </div>
                <div class="subscribe-form">
                    {{ form.email.label }}
                    {{ form.email }}
                </div>
                <button type="submit" class="btn btn-green btn-subscribe logo-font">Submit</button>
            </form>
        </div>
    </div>
    <div class="row bg-col-green my-5">
        <div class="col-12 p-3">
            <p class="gym-para">You must be 18 years old to subscribe with us.</p>
        </div>
    </div>
</div>
{% endblock %}