{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container container-fluid gym-container">
    <div class="row mt-5">
        <div class="col-md-6">
            <!--Display testimonials-->
            <!-- Slideshow container -->
            <div class="slideshow-container mt-5">
                <!-- Full-width slides/quotes -->
                {% for testimonial in testimonials %}
                <div class="mySlides">
                    <q class="mb-0 gym-para">{{ testimonial.testimony }}</q>
                    <p class="mb-0 author gym-para">- {{ testimonial.name }}</p>
                </div>
                {% endfor %}
                <!-- Next/prev buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>

            <!-- Dots/bullets/indicators -->
            <div class="dot-container">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
        </div>
        <!--Write Testimonial-->
        <div class="col-md-6">
            <form action="" method="post">
                {% csrf_token %}
                <div>
                    <h1 class="gym-header mb-1">Write Testimonial!</h1>
                </div>
                <div class="contact-form px-5 py-5">
                    <label for="fullname" class="form-label">Name</label>
                    <input type="text" name="name" class="form-control contact-form mb-3" id="fullname"
                        placeholder="Full Name" required />
                    <label for="emailaddress" class="form-label">Email</label>
                    <input type="email" name="emailaddress" class="form-control mb-3 contact-form" id="emailaddress"
                        placeholder="Email Address" required />
                    <label for="message" class="form-label">Testimony</label>
                    <textarea rows="5" name="message" class="form-control mb-3 contact-form" id="message"
                        placeholder="Write here" required></textarea>
                    <button type="submit" class="btn btn-green text-uppercase center-block">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!--Script for SlideShow Quotes-->
<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
</script>
{% endblock %}