html {
    height: 100%;
}

body {
    min-height: calc(100vh - 56px);
    color: #343735;
    font-family: "rationale";
}

/*Header*/
#subscribe-banner {
    font-size: 30px;
    font-family: "Expo";
}
.logo-font {
    text-transform: uppercase;
}
.navbar {
  margin-bottom: 0;
  width: 100%;
  /*background-color: #343735;*/
  border: 0;
  display: flex !important;
  padding-left: 0.6rem;
  align-items: center;
}
.navbar .navbar-brand {
  color: #f2f832;
  font-family: "Rationale";
  font-weight: bold; 
  font-style: italic;
}
.navbar .navbar-toggler {
  border: 0;
}
.navbar-toggler {
  background-color: #ffffff;
}
.navbar .navbar-nav .nav-link {
  font-weight: bold;
  color: #343735;
  font-family: "Expo";
}
.ml-auto {
  margin-left: inherit;
}
.navbar a:hover {
  background-color: #54b848;
}
.dropdown-bg {
    background-color:#343735;
}
.navbar-dark .navbar-nav .show>.nav-link {
  color: #ffffff;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: white;
}
a {
    color: #343735;
  }


/*Media Query For Navbar*/
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
  .navbar-brand {
    font-size: 20px;
  }
}
/*End Header*/
/*Footer*/
.footer {
  background-color:#343735; 
  color: #ffffff;
  font-family: 'expo';
  width: 100%;
  margin-top: auto;
}
.footer-div {
    padding-top: 10px;
}
.social-links {
  padding-bottom: 10px;
}
.social-links li a i {
  width: 32px;
  height: 32px;
  padding: 10px 0;
  border-radius: 50%;
  font-size: 20px;
  line-height: 7px;
  text-align: center;
  color: #ffffff;
  background: #343735;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}
.social-links li a i:hover {
  background: #54b848;
  color: white;
}
#footer-details {
  padding-top: 10px;
  text-align: center;
}
/*End Footer*/

/* --------------------------------- Media queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .header-container {
        padding-top: 164px;
    }
}
/*Home Page*/
.home-container {
  background: url('/media/background-image.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: dimgrey;
  display: flex;
  height: 100vh;
  position: relative;
}
.home-text {
    margin-top: 120px;
    color: #ffffff;
}
.header-text {
    font-size: 40px;
}
.para-text {
    font: "expo";
    font-size: 20px;
}
.block-text {
    margin-top: 130px;
    color: #ffffff;
    font: "expo";
    font-size: 20px;
    padding: 20px;
    
}
.bg-col {
    background-color: rgb(52,55,53,0.5);
}
.bg-col-yellow {
    background-color: #f2f832;
}
.bg-col-blue {
    background-color: #002a4e;
}
.bg-col-gold {
    background-color: #bd9c54;
}
.bg-col-black {
    background-color: #000000;
}
.bg-col-green {
    background-color: #54b848;
}

.btn-green {
    background-color: #54b848;
    color: #ffffff;
    margin:10px;
}
.icon-arrow {
    color: #54b848;
    float: right;
    position: absolute;
    right: 30px;
    bottom: 27px;
    font-size: 40px;
}
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* Our Gym Page*/
.gym-container {
    margin-top: 40px;
    margin-bottom: 50px;
    color: #343735;
    align-items: center;
    text-align: center;
    min-height: calc(100vh - 56px);
}
.gym-header {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
}
.gym-para {
    font-size: 20px;
    font-family: "expo";
}
.gym-subheading {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
}
.gym-icon {
    font-size : 40px;
}
.online-train-img {
  background: url('/media/online-training.jpg');
  background-size: cover;
  background-color: dimgrey;
  margin-top: 20px;
}
.image-container {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.product-details-container {
    text-align: left;
    padding: 20px;
}
/*Contact Form*/
.contact-container {
    margin-top: 90px;
    margin-bottom: 50px;
    color: #343735;
    align-items: center;
    text-align: center;
    min-height: calc(100vh - 56px);
}
.contact-form {
    font-family: "expo";
    font-size: 20px;
    line-height: 20px;
    text-align: left;
}

.signup-container {
    min-height: calc(100vh - 56px);
}

/*Map*/
div#map { 
  min-height: 300px;
}
.map-container {
  padding:10px;
  margin:10px; 
}
/*media query*/
@media screen and (max-width: 500px) {
  .map-container {
      padding: 0px;
  }
}
/*End map*/