html {
    height: 100%;
}

body {
	background: url('/media/homepage_background.jpg') no-repeat center center fixed;
	background-size: cover;
    height: calc(100vh - 56px);
    color: #343735;
    font-family: "rationale";
}

/*Header*/
.navbar {
  margin-bottom: 0;
  width: 100%;
  background-color: #343735;
  border: 0;
  display: flex !important;
  padding-left: 0.6rem;
}
.navbar .navbar-brand {
  color: #f2f832;
  font-family: "Rationale";
  font-weight: bold; 
  font-style: italic;
}
.navbar .navbar-toggler {
  border: 0;
}
.navbar-toggler {
  background-color: #ffffff;
}
.navbar .navbar-nav .nav-link {
  font-weight: bold;
  color: #ffffff;
  font-family: "Expo";
}
.ml-auto {
  margin-left: inherit;
}
.navbar a:hover {
  background-color: #54b848;
}
.dropdown-bg {
    background-color:#343735;
}
.navbar-dark .navbar-nav .show>.nav-link {
  color: #ffffff;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: white;
}
/*Media Query For Navbar*/
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
  .navbar-brand {
    font-size: 20px;
  }
}
/*End Header*/
/*Footer*/
.footer {
  background-color:#343735; 
  color: #ffffff;
  font-family: 'expo';
  min-height: 80px;
  width: 100%;
  margin-top: auto;
}
.footer-div {
    padding-top: 10px;
}
.social-links {
  padding-bottom: 10px;
}
.social-links li a i {
  width: 32px;
  height: 32px;
  padding: 10px 0;
  border-radius: 50%;
  font-size: 20px;
  line-height: 7px;
  text-align: center;
  color: #ffffff;
  background: #343735;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}
.social-links li a i:hover {
  background: #54b848;
  color: white;
}
#footer-details {
  padding-top: 10px;
  text-align: center;
}
/*End Footer*/

/* --------------------------------- Media queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

.home-text {
    margin-top: 120px;
    color: #ffffff;
}
.header-text {
    font-size: 40px;
}
.para-text {
    font: "expo";
    font-size: 14px;
}
.block-text {
    margin-top: 130px;
    color: #ffffff;
    font: "expo";
    font-size: 20px;
    padding: 20px;
    
}
.bg-col {
    background-color: rgb(52,55,53,0.5);
}
.btn-green {
    background-color: #54b848;
    color: #ffffff;
    margin:10px;
}
.icon-arrow {
    color: #54b848;
    float: right;
    position: absolute;
    right: 30px;
    bottom: 27px;
}