{% extends "account/base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="container container-fluid signup-container">
    <div class="row mr-5 ml-5 mt-3">
        <div class="col-12">
            <hr>
            <h2 class="gym-header">{% trans "Set Password" %}</h2>
            <hr>
            <form class="gym-para" method="POST" action="{% url 'account_set_password' %}" class="password_set">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
            </form>
        </div>
    </div>
</div>
{% endblock %}
