{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load static %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container container-fluid signup-container mr-5 ml-5 mt-3">
    <div class="row text-center">
        <div class="col-12">
            <h2 class="gym-header">{% trans "Password Reset" %}</h2>
    
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
    
            <p class="gym-para">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
        </div>
    </div>
</div>
{% endblock %}
