{% extends "account/base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}
<div class="container container-fluid signup-container">
    <div class="row mr-5 ml-5 mt-3">
        <div class="col-12">
            <hr>
            <h2 class="gym-header">{% trans "Sign Up Closed" %}</h2>
            <hr>
            <p class="gym-para">{% trans "We are sorry, but the sign up is currently closed." %}</p>
        </div>
    </div>
</div>    
{% endblock %}
