{% extends "account/base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<div class="container container-fluid signup-container">
    <div class="row mt-3">
        <div class="col-12">
            <hr>
            <h2 class="gym-header">{% trans "Verify Your E-mail Address" %}</h2>
            <hr>
            <p class="gym-para">{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
        </div>
    </div>
</div>        
{% endblock %}
