{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="overlay"></div>
<div class="container container-fluid gym-container">
    <div class="row">
        <div class="col-md-6">
            <section class="callout message-box text-center">
                <form onsubmit="return sendMail(this);">
                    {% csrf_token %}
                    <div>
                        <h1 class="header-form">Send Feedback!</h1>
                    </div>
                    <div>
                        <input type="text" name="name" class="form-control contact-form mb-3" id="fullname"
                            placeholder="Name" required />
                        <input type="email" name="emailaddress" class="form-control mb-3 contact-form" id="emailaddress"
                            placeholder="Email" required />
                        <textarea rows="5" name="message" class="form-control mb-3 contact-form" id="message"
                            placeholder="Message" required></textarea>
                        <button type="submit" class="btn btn-brown center-block">Submit</button>
                    </div>
                </form>
            </section>
        </div>
        <div class="col-12 col-md-6">
            <h2 class="gym-header text-uppercase">Contact Info:</h2>
            <p class="gym-para">Vetekornsgatan 35</p>
            <p class="gym-para">Möndal Sweden</p>
            <p class="gym-para">Telephone: 76986978009</p>
            <p class="gym-para">Email: ruby.srivas1984@gmail.com</p>
            <h2 class="gym-header text-uppercase">How to reach us?</h2>
            <div class="map-container">
                <div id="map" class="col-12">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}