{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="overlay"></div>
<div class="container container-fluid gym-container">
    <div class="row">
        {% for product in products %}
        {% if product.name == 'Train out in August' %}
        <div class="col-12">
            <h2 class="gym-header text-uppercase">{{ product.name }} for SEK {{ product.price }}.</h2>
            <p class="gym-para">{{ product.description }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="row px-4 gx-5">
        {% for product in products %}
        {% if product.name == 'Monthly' or product.name == 'Yearly' or product.name == 'Silver' %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="bg-col p-3 my-3">
                <p class="gym-para">{{ product.name }}</p>
                <h2 class="gym-header">{{ product.price }}:-</h2>
                <p class="gym-para">+ start fee 0: -</p>
                <a href="{% url 'product_detail' product.id %}" class="btn btn-green btn-ls text-uppercase">Read More</a>
                <p class="gym-para">Words. monthly fee SEK 199 / month</p>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="row bg-col-yellow my-5">
        <div class="col-12">
            {% for product in products %}
            {% if product.name == 'Weekly Offer' %}
            <h2 class="gym-header text-uppercase">RIGHT NOW: Test training for SEK {{ product.price }}/week</h2>
            <p class="gym-para">{{ product.description }}</p>
            <a href="{% url 'product_detail' product.id %}" class="btn btn-green btn-ls text-uppercase">Read More</a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="row my-5">
        <div class="col-12">
            <h2 class="gym-header text-uppercase">the loyality program</h2>
            <p class="gym-para">It pays to train with us for a long time.
                Start your journey from BLUE to BLACK member today.</p>
        </div>
    </div>
    <div class="row bg-col-blue my-5" style="color:white;">
        <div class="col-12">
            {% for product in products %}
            {% if product.name == 'Blue' %}
            <p class="gym-para" style="margin-top:20px; margin-bottom:0px;">3-5 Years</p>
            <h2 class="gym-header text-uppercase">{{ product.name }}</h2>
            <p class="gym-para">{{ product.description }}</p>
            <p class="gym-para">See your status and follow your development under My Page.</p>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="row my-5" style="color:white;">
        {% for product in products %}
        {% if product.name == 'Gold' %}
        <div class="col-12 col-md-6 bg-col-gold">
            <p class="gym-para" style="margin-top:20px; margin-bottom:0px;">5-7 YEARS</p>
            <h2 class="gym-header text-uppercase">{{ product.name }}</h2>
            <p class="gym-para">{{ product.description}}</p>
            <p class="gym-para">Bring a friend 5 times /year</p>
            <p class="gym-para">Bring a friend (at a time) during staffed opening hours
                and let him test our range.</p>
            <p class="gym-para">10% discount on training products</p>
            <p class="gym-para">Get 1 extra PT session</p>
            <p class="gym-para">Get your new GOLD card at My Page.</p>
        </div>
        {% elif product.name == 'Black' %}
        <div class="col-12 col-md-6 bg-col-black">
            <p class="gym-para" style="margin-top:20px; margin-bottom:0px;">7+ Years</p>
            <h2 class="gym-header text-uppercase">{{ product.name }}</h2>
            <p class="gym-para">{{ product.description }}</p>
            <p class="gym-para">Bring a friend an unlimited number of
                occasions / year</p>
            <p class="gym-para">Bring a friend (at a time) during staffed opening hours
                and let him test our range.</p>
            <p class="gym-para">20% discount on training products</p>
            <p class="gym-para">Get 2 extra PT sessions</p>
            <p class="gym-para">Your BLACK card will appear in My Page.</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="row bg-col-green my-5" style="height:80px;">
        <div class="col-12 p-3">
            <p class="gym-para">You must be 18 years old to sign up for membership with us. 
            Our notice period is 2 months.</p>
        </div>
    </div>
</div>
{% endblock %}